In [1]:
import pandas as pd
import matplotlib.pyplot as plot

In [2]:
bbike = pd.read_csv('202006-bluebikes-tripdata.csv')
bbike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
0,1160,2020-06-01 00:00:25.6240,2020-06-01 00:19:45.7010,192,Purchase St at Pearl St,42.354659,-71.053181,366,Broadway T Stop,42.342781,-71.057473,2831,Customer,NaN
1,1419,2020-06-01 00:01:09.3800,2020-06-01 00:24:48.9520,355,Bennington St at Constitution Beach,42.385224,-71.010631,355,Bennington St at Constitution Beach,42.385224,-71.010631,5696,Customer,02128
2,1093,2020-06-01 00:01:29.4790,2020-06-01 00:19:43.3530,131,Jackson Square T Stop,42.322931,-71.100141,331,Huntington Ave at Mass Art,42.336586,-71.098870,3922,Subscriber,10570
3,1067,2020-06-01 00:01:35.8540,2020-06-01 00:19:23.3250,131,Jackson Square T Stop,42.322931,-71.100141,331,Huntington Ave at Mass Art,42.336586,-71.098870,3361,Subscriber,10570
4,1391,2020-06-01 00:01:51.0390,2020-06-01 00:25:02.8460,355,Bennington St at Constitution Beach,42.385224,-71.010631,355,Bennington St at Constitution Beach,42.385224,-71.010631,3621,Customer,01902

    what are the most popular start or stations? the stations that have the most trips to and from.

In [4]:
bbike['start station id'].value_counts()

60     3689
68     2596
47     2511
46     2420
53     2326
       ...
255      20
388      17
448      17
317       2
1         1
Name: start station id, Length: 334, dtype: int64

In [7]:
bbike['end station id'].value_counts()

60     3714
68     2682
47     2465
46     2412
53     2320
       ...
255      26
388      23
448      17
447      14
317       2
Name: end station id, Length: 334, dtype: int64

In [6]:
bbike[bbike['start station id'] == 60].head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
197,1278,2020-06-01 06:11:18.4940,2020-06-01 06:32:37.2500,60,Charles Circle - Charles St at Cambridge St,42.360793,-71.07119,11,Longwood Ave at Binney St,42.338629,-71.1065,3574,Subscriber,02114